<div class="container">
    <!-- <div>{{ form | json }}</div> -->
    <form class="card" [formGroup]="form" (ngSubmit)="submit()">
        <h1>Angular Forms</h1>

        <div class="form-control">
            <label>Email</label>
            <input type="text" placeholder="Email" formControlName="email" />

            <div class="validation" *ngIf="form.get('email').invalid && form.get('email').touched">
                <small *ngIf="form.get('email').errors['required']">
                    Email field can not be empty
                </small>
                <small *ngIf="form.get('email').errors['restrictedEmail']">
                    Email {{ form.get('email').value }} is restricted
                </small>
                <small *ngIf="form.get('email').errors['uniqEmail']">
                    Email {{ form.get('email').value }} is already taken
                </small>

                <small *ngIf="form.get('email').errors['email']">Please enter correct email</small>
            </div>
        </div>

        <div class="form-control">
            <label>Password</label>
            <input type="password" placeholder="Password" formControlName="password" />

            <div
                class="validation"
                *ngIf="form.get('password').invalid && form.get('password').touched"
            >
                <small *ngIf="form.get('password').errors['required']">
                    Password can not be empty
                </small>
                <small *ngIf="form.get('password').errors['minlength']">
                    Password length is too short. It should be minimum
                    {{ form.get('password').errors['minlength']['requiredLength'] }}

                    Actual password length id
                    {{ form.get('password').errors['minlength']['actualLength'] }}
                </small>
            </div>
        </div>

        <div class="card" formGroupName="address">
            <h2>Address</h2>

            <div class="form-control">
                <label>Country</label>

                <select formControlName="country">
                    <option value="ru">Snowy Nigeria</option>
                    <option value="ua">Ukraine</option>
                    <option value="by">Belarus</option>
                </select>
            </div>

            <div class="form-control">
                <input type="text" formControlName="city" placeholder="city" />
            </div>

            <button class="btn" type="button" (click)="setCapital()">Add capital</button>
        </div>

        <div class="card" formGroupName="skills">
            <h2>Your Skills</h2>
            <button class="btn" type="button" (click)="addSkill()">Add skills</button>
            <div
                class="form-control"
                *ngFor="let control of form.get('skills')['controls']; let idx = index"
            >
                <label>Skill {{ idx + 1 }}</label>
                <input type="text" [formControlName]="idx" />
            </div>
        </div>

        <button class="btn" type="submit" [disabled]="form.invalid">
            Send
        </button>
    </form>
</div>
